@import '../../styles/mixins.scss';

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .card {
    margin-bottom: 1rem;
    width: calc(50% - 5px);
  }

  .link {
    @include link;
  }
}
