@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.wrapper {
  margin: 1rem 0;

  .posts {
    border-top: 1px solid $card-border;
    margin-top: 2rem;
    padding: 1rem 1.75rem;

    .link {
      @include link;
    }

    .title {
      @include title;
    }

    .more {
      text-align: center;
      @include go_back;

      span {
        margin: 0;
        cursor: pointer;
      }
    }
  }
}
