@import '../../styles/variables.scss';

.wrapper {
  margin: 1rem 0;

  .posts {
    border-top: 1px solid $font-color;
    margin-top: 1rem;
    padding: 1rem 1.75rem;

    .link {
      @include link;
    }

    .title {
      @include title;
    }
  }
}
