$background-color: #ffffff;
$font-color: #101010;

$header-background-color: #101010;
$header-font-color: #ffffff;

$border: #dadada;

@mixin link {
  text-decoration: none;
  color: $font-color;
}

@mixin title {
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 1rem;
}

@mixin go_back {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 18px;
  opacity: 41%;
}
