$background-color: #ffffff;
$font-color: #101010;

$header-background-color: #101010;
$header-font-color: #ffffff;

$button-black-background: #101010;
$button-black-font-color: #ffffff;

$button-white-background: #ffffff;
$button-white-font-color: #101010;

$comment-border: #dadada;
$error-border: #bd1515;

$card-border: #101010;
$card-description-opacity: 41%;

$form-background: #101010d5;
