@import '../../styles/variables.scss';

.wrapper {
  border: 1px solid $card-border;
  padding: 1rem 2rem;
  width: 100%;
  box-sizing: border-box;

  .title {
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .description {
    opacity: $card-description-opacity;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
