@import '../../styles/variables.scss';

.wrapper {
  margin: 1rem;
  padding: 10px;

  .go_back {
    @include go_back;
  }

  .link {
    @include link;
  }

  .post {
    border: 1px solid black;
    padding: 1rem;

    .title {
      font-size: 35px;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    .body {
    }
  }
}
