@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.header {
  background-color: $header-background-color;

  height: 70px;
  padding: 1rem 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-family: $font-logo;
    font-size: 1.75rem;
    cursor: pointer;

    .link {
      @include link;
      color: $header-font-color;
    }
  }

  .buttons_group {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
}
